table {
    background-color: lightblue;
    border: 2px solid black;
    margin-right: auto; margin-left: auto;

}

th {
    padding: 20px;
    border: 2px solid black;
    text-align: left;
}

td {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    text-align: left;
}

#movie-title {
    font-style: italic;
}